.header{
    background-color: #1a798d;
    position: sticky;
    top:0;
}
.header *{
    text-align: center;
    font-size: 80px;
    font-family: Helvetica, serif;
    color: #ffffff;
}
.h2{
    font-size: 27px;
    font-family: Helvetica, serif;
}

.paragraph{
    font-size: 16px;
    font-family: Helvetica, serif;
}
.paragraph1{
    text-align: center;
    font-size: 16px;
    font-family: Helvetica, serif;
}

.d1{
    margin-left: 200px;
    margin-right:30px;
    display: inline-block;
    height: 420px;
    width: 300px;
}

.im1{
    display: inline-block;
    margin-right:20px;
    height: 400px;
    width: 300px;
}
.im2{
    display: inline-block;
    height: 400px;
    width: 300px;
}

.d2{
    text-align: center;
    margin-bottom: 25px;
}
.im3{
    margin-right: 20px;
    height: 378px;
    width: 298px;
}
.im4{

    height: 378px;
    width: 298px;
}

.im5{
    width: 650px;
}
.d4{
    text-align: center;
    margin-bottom: 25px;
}

.d3{
    text-align: center;
}
.d3 *{
    margin-right:10px;
    height: 378px;
    width: 298px;
}

.fin{
    text-align: center;
    font-family: Helvetica, serif;
}

@media screen and (max-width:1000px){
    .header{
        background-color: #1a798d;
        position: sticky;
        top:0;
    }
    .header *{
        text-align: center;
        font-size: 80px;
        font-family: Helvetica, serif;
        color: #ffffff;
    }
    .h2{
        font-size: 27px;
        font-family: Helvetica, serif;
    }

    .paragraph{
        font-size: 16px;
        font-family: Helvetica, serif;
    }
    .paragraph1{
        text-align: center;
        font-size: 16px;
        font-family: Helvetica, serif;
    }

    .d1{
        text-align: center;

        height: 420px;
        width: 300px;
    }

    .im1{

        height: 400px;
        width: 300px;
    }
    .im2{

        height: 400px;
        width: 300px;
    }

    .d2{
        text-align: center;
        margin-bottom: 25px;
    }
    .im3{
        height: 378px;
        width: 298px;
    }
    .im4{

        height: 378px;
        width: 298px;
    }

    .im5{
        width: 650px;
    }
    .d4{
        text-align: center;
    }

    .d3{
        text-align: center;
    }
    .d3 *{
        height: 378px;
        width: 298px;
    }

    .fin{
        text-align: center;
        font-family: Helvetica, serif;
    }
}
